<div class="row">
  <div class="white_back">
    <br/>
    <h4><i><em>Breaker-Breaker!</em></i> lets you transmit text messages directly to your friends' phones, using only the stupendous black-magic of the interweb. If you're already a member, login to send a text message.</h4>
    <br/>
    <h4> If you aren't a member, it's quick, easy, and free to get started.</h4>
    <br/>
	</div>
</div>








