

  <div class="row">
   <%= image_tag("cbradio.jpg", height: '50%', width: '50%', class: "img-responsive center-block") %>
  </div>
  <div class="row">
    <h3><center><i>BreakerBreaker is the best way to transmit messages directly to your friends' phones, free!</center></i></h3>
  </div>


