/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*ADD CSS BELOW*/
body {
    background-image: image-url('transceiver_1.png');
/*    background-image: url("transceiver_1.png" );*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;




}

#info-box {
	background-color: tomato;
	width: 65%;
	height: 80%;
	border-width: 5px;
	border-color: darkblue;
	margin: 0 auto;
	margin-top: 10%;
}

img#bblogo {
	height: 25%;
	width: 25%;
	margin: 0 auto;


}
