/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*ADD CSS BELOW*/
body {
    background-image: url("apps/assets/images/transceiver_1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#info-box {

	background-color: pink;
	width: 65%;
	height:80%;
	border-width: 5px;
	border-color: darkblue;
	margin: 0 auto;
	/*text-align: center;*/
}
